<header id="homepage">
  <div class="homepage-header">
    <h2>
      <span class="heal-blue">Heal</span><span class="connect-green">Connect</span>
    </h2>
    <nav>
      <a href="/Public/Pages/index.html">Home</a>
      <a href="/Public/Pages/Services.html">Services</a>
      <a href="/Public/Pages/Listoftherapist.html">Therapist</a>
      <a href="/Public/Pages/Pricing.html">Pricing</a>
      <a href="/Public/Pages/Contact.html">Contact</a>
      <a href="/Public/Pages/logandsign.html" class="btn-getstarted">Get Started</a>  
    </nav>
  </div>
</header>
